<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <button type="button" name="button" id="ON">ON</button>
    <button type="button" name="button" id="OFF">OFF</button>
    <p class="result">press that button and you'll see the get result here</p>
    <script src="index.js" charset="utf-8"></script>
    </body>
</html>
